<template>
  <!-- Icons-->
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
  <!-- Fonts Google-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Roboto&display=swap" rel="stylesheet">
  
  <div id="app">
    <router-view />
  </div>
</template>

<style>
#app {
  min-height: 100vh;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #838383; 
}
 
::-webkit-scrollbar-thumb {
  background: #151515; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
