<template>
    <div class="create-user">
      <form @submit.prevent="createUser" class="form">
        <h1>Create a new user!</h1>
  
        <label for="realm">Select Realm:</label>
        <select v-model="selectedRealm">
          <option v-for="realm in realms" :key="realm.uri" :value="realm.uri">{{ realm.uri }}</option>
        </select>
  
        <label for="username">Username:</label>
        <input v-model="userData.username" type="text" id="username" required>
  
  
        <label for="enabled">Enabled (true/false):</label>
        <input v-model="userData.enabled" type="text" id="enabled" required>
  
        <label for="password">Password:</label>
        <input v-model="userData.password" type="password" id="password" required>
  
        <br>
        <hr class="custom">
        <br>
  
        <button type="submit" class="butn butn__new">
          <span>Create user</span>
        </button>
      </form>
    </div>
  </template>
  
  <script>
  /*
  export default {
    data() {
      return {
        realms: [],
        selectedRealm: null,
        userData: {
          username: '',
          enabled: '',
          password: '',
        },
      };
    },
    mounted() {
      this.fetchRealms();
    },
    methods: {
      async createUser() {
        try {
          const response = await axios.post('http://192.168.100.10:3000/create-user', {
            realmUri: this.selectedRealm,
            userData: this.userData,
          });
  
          const result = response.data;
  
          if (result.success) {
            console.log('User created successfully:', result.result);
          } else {
            console.error('Error creating user:', result.error);
          }
        } catch (error) {
          console.error('Error creating user:', error);
        }
      },
      fetchRealms() {
        axios.get('http://192.168.100.10:3000/list-realms')
          .then(response => {
            this.realms = response.data.realms.map(realm => ({
              ...realm,
              isEditing: false,
              editedDescription: realm.description,
            }));
          })
          .catch(error => {
            console.error('Error fetching realms:', error);
          });
      },
    },
  };
  */
  </script>
  
    
  <style scoped>
  a,
  a:hover {
    text-decoration: none;
  }
  form {
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 5% 5%;
  }
  
  form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  form h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  input {
    display: block;
    height: 30px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  
  input[type="checkbox"] {
    transform: scale(0.8);
  }
  
  .butn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #66ccb8;
    background-image: linear-gradient(90deg, #44A08D, #093637);
    padding: 1rem 2rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .butn:hover,
  .butn:active {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
  
  .butn__new::before,
  .butn__new::after {
    background: #fff;
    content: "";
    height: 8rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 8rem;
  }
  
  .butn__new::before {
    left: -50%;
  }
  
  .butn__new::after {
    left: -100%;
  }
  
  .butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
  }
  
  .butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
  }
  
  .butn span {
    z-index: 20;
  }
  
  hr.custom {
    border-top: 1px solid #8c8b8b;
  }

  form select {
    width: 96%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
  }

  form select option {
    background-color: #080710;
    color: #fafafa;
  }
  </style>