<template>
  <div class="create-realm">
      <form @submit.prevent="createRealm" class="form">
        <h1>Create a new Realm!</h1>
        <button class="back-btn" @click="goBack">Back</button>
        <!-- URI -->
        <label for="uri">URI:</label>
        <input type="text" id="uri" v-model="formData.uri" required />

        <!-- Description -->
        <label for="description">Description:</label>
        <input type="text" id="description" v-model="formData.description" required />

        <!-- Is Prototype -->
        <label for="isPrototype">Is Prototype:</label>
        <input type="checkbox" id="isPrototype" v-model="formData.is_prototype" />

        <!-- Prototype URI -->
        <div v-if="formData.is_prototype">
          <label for="prototypeUri">Prototype URI:</label>
          <input type="text" id="prototypeUri" v-model="formData.prototypeUri" required />
        </div>

        <!-- Is SSO Realm -->
        <label for="is_sso_realm">Is SSO Realm:</label>
        <input type="checkbox" id="is_sso_realm" v-model="formData.is_sso_realm" />

        <!-- SSO Realm URI -->
        <div v-if="formData.is_sso_realm">
          <label for="ssoRealmUri">SSO Realm URI:</label>
          <input type="text" id="ssoRealmUri" v-model="formData.ssoRealmUri" required />
        </div>

        <!-- Allow Connections -->
        <label for="allowConnections">Allow Connections:</label>
        <input type="checkbox" id="allowConnections" v-model="formData.allowConnections" />

        <!-- Authmethods -->
        <br>
        <hr>
        <label for="authmethods" style="font-size: 16px;">Auth Methods:</label>
        <hr class="custom">
        <div id="authmethods" class="auth-methods">
          <label for="anonymous">Anonymous</label><input type="checkbox" id="anonymous" value="anonymous" v-model="formData.authmethods">
          <label for="trust">Trust</label><input type="checkbox" id="trust" name="trust" value="trust" v-model="formData.authmethods">
          <label for="passwordC">Password</label><input type="checkbox" id="passwordC" name="passwordC" value="password" v-model="formData.authmethods">
              
          <!-- Ticket -->
            <label for="ticket">Ticket</label><input type="checkbox" id="ticket" value="ticket" v-model="formData.authmethods" @change="toggleTicketFields">
            <div id="ticketFields" v-show="formData.authmethods.includes('ticket')">
              <label for="ticketId">Ticket ID:</label><br>
              <input type="text" id="ticketId" name="ticketId" v-model="formData.ticketId"><br><br>

              <label for="issued_by">Issued By:</label><br>
              <input type="text" id="issued_by" name="issued_by" v-model="formData.issued_by"><br><br>

              <label for="authid">Auth ID:</label><br>
              <input type="text" id="authid" name="authid" v-model="formData.authid"><br><br>

              <label for="authrealm">Auth Realm:</label><br>
              <input type="text" id="authrealm" name="authrealm" v-model="formData.authrealm"><br><br>

              <label for="expires_at">Expires At:</label><br>
              <input type="text" id="expires_at" name="expires_at" v-model="formData.expires_at"><br><br>

              <label for="issuedAt">Issued At:</label><br>
              <input type="text" id="issued_at" name="issued_at" v-model="formData.issued_at"><br><br>

              <label for="issuedOn">Issued On:</label><br>
              <input type="text" id="issued_on" name="issued_on" v-model="formData.issued_on"><br><br>

              <label for="scope">Ticket Scope:</label><br>
              <input type="text" id="scope" name="scope" v-model="formData.scope"><br><br>
            </div>

          <!-- OAuth2 -->
          <label for="oauth2">OAuth2</label><input type="checkbox" id="oauth2" value="oauth2" v-model="formData.authmethods"> 
          
          <!-- Wampcra -->
          <label for="wampcra">WAMPCRA</label><input type="checkbox" id="wampcra" value="wampcra" v-model="formData.authmethods">
          
          <!-- CryptoSign -->
          <label for="cryptosign">CryptoSign</label><input type="checkbox" id="cryptosign" value="cryptosign" v-model="formData.authmethods">
        </div><br>
        <hr class="custom">
        <!-- Authmethods -->

        <label for="securityEnabled" style="font-size: 16px;">Segurity Enabled:</label>
        <input type="checkbox" id="securityEnabled" value="false" v-model="allow_connections" />
        
        <!-- Users -->
        <label for="users" style="font-size: 16px;">Users:</label>
        <input type="text" id="users" name="users" v-model="users" required />

        <!-- Groups -->
          <label for="groups" style="font-size: 16px;">Groups:</label>
          <input type="checkbox" id="groups" name="groups" value="false" v-model="formData.groups" />

          <div id="groupsFields" v-show="formData.groups">
              <!-- Name -->
              <div id="nameGroups">
                <label for="nameGroup">Name (The group identifier):</label><br>
                <input type="text" id="nameGroup" name="nameGroup" required v-model="formData.nameGroup"><br>
              </div>

              <!-- A list of group names -->
              <div id="listGroups">
                <label for="addlistGroups">Add to groups:</label><br>
                <input type="text" id="addlistGroups" name="addlistGroups" required v-model="formData.addlistGroups"><br>
              </div>

              <!-- Meta -->
              <div id="metaGroups">
                      <label for="metaMapGroups">Metamap:</label><br>
                      <input type="text" id="metaMapGroups" name="metaMapGroups" required v-model="formData.metaMapGroups"><br>
                  </div>
          </div>
        <!-- Groups -->

        <!-- Sources -->
          <label for="sources" style="font-size: 16px;">Sources (Optional):</label>
          <input type="text" id="sources" name="sources" v-model="sources" required />
        <!-- Sources -->

        <!-- Grants -->
        <label for="grants" style="font-size: 16px;">Grants (Optional):</label>
        <input type="checkbox" id="grants" name="grants" value="false" v-model="formData.grants" />

        <div id="grantsFields" v-show="formData.grants">

              <!-- Permissions -->
              <label for="permissions">Permissions:</label><br>
              <hr class="custom">
              <label for="wampRegister">wamp.register</label><br>
              <input type="checkbox" id="wampRegister" value="wampRegister" v-model="formData.wampRegister">

              <label for="wampUnregister">wamp.unregister</label><br>
              <input type="checkbox" id="wampUnregister" value="wampUnregister" v-model="formData.wampUnregister">
              
              <label for="wampSubscribe">wamp.subscribe</label><br>
              <input type="checkbox" id="wampSubscribe" value="wampSubscribe" v-model="formData.wampSubscribe">

              <label for="wampCall">wamp.call</label><br>
              <input type="checkbox" id="wampCall" value="wampCall" v-model="formData.wampCall">
            
              <label for="wampCancel">wamp.cancel</label><br>
              <input type="checkbox" id="wampCancel" value="wampCancel" v-model="formData.wampCancel">
              
              <label for="wampPublish">wamp.publish</label><br>
              <input type="checkbox" id="wampPublish" value="wampPublish" v-model="formData.wampPublish">
              <hr class="custom">

              <!-- Roles -->
              <label for="roles" style="font-size: 16px;">Roles (A list of group names):</label>
              <input type="text" id="roles" name="roles" v-model="roles" required />

              <!-- URI -->
              <label for="uriGrants" style="font-size: 16px;">URI:</label>
              <input type="text" id="rouriGrantsles" name="uriGrants" v-model="uriGrants" required />


              <!-- Match -->
              <label for="match">Match:</label><br>
              <hr class="custom">
              <label for="exact">Exact</label><br>
              <input type="checkbox" id="exact" value="exact" v-model="formData.exact">

              <label for="prefix">Prefix</label><br>
              <input type="checkbox" id="prefix" value="prefix" v-model="formData.prefix">
              
              <label for="wildcard">Wildcard</label><br>
              <input type="checkbox" id="wildcard" value="wildcard" v-model="formData.wildcard">
            
              <hr class="custom">

              <!-- Resources -->
              <label for="resources" style="font-size: 16px;">Resources:</label>
              <input type="checkbox" id="resources" name="resources" value="false" v-model="formData.resources" />

              <div id="grantResourcesFields" v-show="formData.resources">
                  <!-- Uri on resources -->
                  <div id="uriResourcesField">
                    <label for="uriResources">URI (The resources identifier):</label><br>
                    <input type="text" id="uriResources" name="uriResources" required v-model="formData.uriResources"><br>
                  </div>

                  <!-- Match on resources -->
                  <label for="matchResourses">Match:</label><br>
                  <hr class="custom">
                  <label for="matchExactResourses">Exact</label><br>
                  <input type="checkbox" id="matchExactResourses" value="matchExactResourses" v-model="formData.matchExactResourses">

                  <label for="matchPrefixResourses">Prefix</label><br>
                  <input type="checkbox" id="matchPrefixResourses" value="matchPrefixResourses" v-model="formData.matchPrefixResourses">
                  
                  <label for="matchWildcardResourses">Wildcard</label><br>
                  <input type="checkbox" id="matchWildcardResourses" value="matchWildcardResourses" v-model="formData.matchWildcardResourses">
                
                  <hr class="custom">

                  <!-- Metamap on resources -->
                  <div id="metaResourses">
                      <label for="metaMapResources">Metamap:</label><br>
                      <input type="text" id="metaMapResources" name="metaMapResources" v-model="formData.metaMapResources"><br><br>
                  </div>

              </div>
              <!-- Resources -->
        </div>
        <!-- Grants -->

        <label for="privateKeys" style="font-size: 16px;">Private Keys:</label><br>
        <input type="text" id="privateKeys" name="privateKeys" v-model="formData.privateKeys" /><br>
        
        <label for="encryptionKeys" style="font-size: 16px;">Encryption Keys:</label><br>
        <input type="text" id="encryptionKeys" name="encryptionKeys" v-model="formData.encryptionKeys" />

        <br>
        <hr class="custom">
        <br>
        <a href="#" class="butn butn__new" @click.prevent="createRealm">
          <span>Create realm</span>
        </a>
      </form>
  </div>
</template>

<script>

export default {
  data() {
    return {
      formData: {
        uri: '',
        description: '',
        is_prototype: false,
        prototypeUri: '',
        is_sso_realm: false,
        ssoRealmUri: '',
        allow_connections: false,
        authmethods: [],
        id: '',
        issued_by: '',
        authid: '',
        authrealm: '',
        expires_at: '',
        issued_at: '',
        issued_on: '',
        scope: [],
        realm: '',
        securityEnabled: false,
        groups: false,
        nameGroup: '',
        addlistGroups: [],
        metaMapGroups: '',
        sources: [],
        grants: false,
        wampRegister: false,
        wampUnregister: false,
        wampSubscribe: false,
        wampCall: false,
        wampCancel: false,
        wampPublish: false,
        roles: [],
        uriGrants: '',
        exact: false,
        prefix: false,
        wildcard: false,
        resources: false,
        uriResources: '',
        matchExactResourses: false,
        matchPrefixResourses: false,
        matchWildcardResourses: false,
        metaMapResources: {},
        privateKeys: [],
        encryptionKeys: []
      }
    };
  },
  methods: {
    /*
    createRealm() {
      console.log('Form Data:', this.formData);
      const realmData = this.formData;
          
      axios.post('http://localhost:3000/create-realm', realmData)
        .then(response => {
          console.log('Realm created successfully:', response.data);
          alert('Realm created successfully');
          window.location.href = '/'; 
        })
        .catch(error => {
          console.error('Error creating realm:', error);
          alert('Error creating realm');
        });
    },
    */
    toggleTicketFields() {
      if (!this.formData.authmethods.includes('ticket')) {
        this.formData.ticketId = '';
        this.formData.issuedBy = '';
        this.formData.authId = '';
        this.formData.authRealm = '';
        this.formData.expiresAt = '';
        this.formData.issuedAt = '';
        this.formData.issuedOn = '';
        this.formData.ticketScope = '';
      }
    },
    goBack() {
      window.history.back();
    }
  }
};
</script>




<style scoped>
.create-realm {
  height: 100vh;
  display: flex;
  align-items: center;
}

a,
a:hover {
  text-decoration: none;
}
form {
  height: 70vh;
  overflow-y: scroll;
  margin: auto;
  background-color: #212121;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 5% 5%;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

input[type="checkbox"] {
  transform: scale(0.8);
  height: 15px;
}

.auth-methods {
  display: flex;
  flex-wrap: wrap;
}

.auth-methods label,
.auth-methods input {
  margin-right: 10px;
}

.butn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #181818;
  background-image: linear-gradient(230deg, #737373, #181818);
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new::before,
.butn__new::after {
  background: #fff;
  content: "";
  height: 8rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}

.butn span {
  z-index: 20;
}

hr.custom {
  border-top: 1px solid #8c8b8b;
}

.back-btn {
  background-color: #ff0000;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 600px) {
  form {
    width: 90%;
    max-width: none;
  }
}
</style>