<template>
    <header class="header">
        <img class="logo" src="@/assets/logo.png" alt="Bondy Logo">
    </header>
</template>

<script>
export default {
    name: 'Header',
}
</script>

<style>
.header {
    background-color: #111111c9;
    padding: 20px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo {
    filter: invert(100%);
    width: 100px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}
</style>