<template>
  <Sidebar :isSidebarOpen="isSidebarOpen" @toggleSidebar="toggleSidebar" />
  <div class="content" :style="{ 'margin-left': isSidebarOpen ? '250px' : '50px' }">
    <div class="greetings">
      <h1>Hello, {{ username }}!</h1>
      <hr>
      <p>Welcome Bondy Data Management Console.</p>
      <p>Use this tool to manage Bondy's configuration.</p>
    </div>
  </div>
</template>

<script>
import Sidebar from "./Sidebar.vue";
export default {
  name: 'home',
  props: ['username', 'ifsessionexists'],
  components: {
    Sidebar,
  },
  data() {
    return {
      isSidebarOpen: true,
    };
  },
  methods: {
    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    }
  },
}
</script>
<style scoped>
.content {
  margin: 0 auto;
  width: 80%;
  background-color: #ddd;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.greetings h1, p {
  color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
}
</style>
