<template>
    <Header />
    <img src="@/assets/home-bondy-dark-2.png" alt="Background Image" class="background-image">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <div class="login-container">
        <form @submit="login">
            <h1 class="login-title">Login</h1>
            <label for="loginType">Authentication method:</label>
            <select id="loginType" v-model="loginType">
              <option value="wampcra">Wampcra</option>
              <!-- <option value="anonymous">Anonymous</option> -->
              <option value="cryptosign">Cryptosign</option> 
              <option value="password">Password</option>
            </select>
            <label for="username" v-if="loginType === 'password' || loginType === 'wampcra' || loginType === 'cryptosign'">Username:</label>
            <input type="text" id="username" v-model="username" required v-if="loginType === 'password' || loginType === 'wampcra' || loginType === 'cryptosign'">
            <label for="password" v-if="loginType === 'password' || loginType === 'wampcra'">Password:</label>
            <input type="password" id="password" v-model="password" required v-if="loginType === 'password' || loginType === 'wampcra'">
            <label for="passwordKey" v-if="loginType === 'cryptosign'">Password Key:</label>
            <input type="password" id="passwordKey" v-model="passwordKey" required v-if="loginType === 'cryptosign'">
            <br>
            <button type="submit" class="login-button wampcra" v-if="loginType === 'wampcra'">Sign In</button>
            <button type="submit" class="login-button password" v-if="loginType === 'password'">Sign In</button>
            <!-- <button type="button" class="login-button anonymous" @click="login" v-if="loginType === 'anonymous'">Sign In Anonymously</button>  -->
            <button type="submit" class="login-button cryptosign" v-if="loginType === 'cryptosign'">Sign In</button>
            <br>
            <div name="error" :style="{ display: showError ? 'block' : 'none' }">
              <p style="color: #8f1f1f; font: 1em sans-serif;">{{ errorMsg }}</p>
            </div>
        </form>
    </div>
</template>

<script>
import Header from "./Header.vue";
import { WebHelpers } from "@/helpers/mainExports.js";

export default {
  name: 'login',
  components: {
    Header,
  },
    data() {
        return {
            username: '',
            password: '',
            loginType: 'wampcra',
            session: null,
            ifSession: false,
            passwordKey: '',
            errorMsg: '',
            showError: false,
        };
    },
    methods: {
        login(event) {
            event.preventDefault();
            /*
            // Anonymous login
            if (this.loginType === 'anonymous') { 
              const connection = WebHelpers.getAnonymousConnection(); 
              connection.onopen = (session) => {
                console.log("Connected!");
                this.session = session;
                this.ifSession = true;
                this.username = 'Anonymous';
                if (this.session) {
                    this.ifSession = true;
                    this.$router.push({ name: 'home', params: { username: this.username, ifSession: this.ifSession } });
                  }
              };

              connection.onclose = (reason, details) => {
                console.error('Connection lost:', reason, details);
              };

              connection.open();
            }
            */
            // Wampcra login
            if (this.loginType === 'wampcra') {
                const connection = WebHelpers.getWampcraConnection(this.username, this.password); 
                connection.onopen = (session) => {
                  console.log("Connected!");
                  this.session = session;
                  if (this.session) {
                    this.ifSession = true;
                    this.$router.push({ name: 'home', params: { username: this.username, ifsessionexists: this.ifSession } });
                  }
                };

                connection.onclose = (reason, details) => {
                  console.error('Connection lost:', reason, details);
                  this.errorMsg = 'Invalid username or password';
                  this.showError = true;
                };

                connection.open();
            }
            // Password login (PENDING)
            if (this.loginType === 'password') {
                const connection = WebHelpers.getPasswordConnection(this.username, this.password); 

                connection.onopen = (session) => {
                  console.log("Connected!");
                  this.session = session;
                  if (this.session) {
                    this.ifSession = true;
                    this.$router.push({ name: 'home', params: { username: this.username, ifsessionexists: this.ifSession } });
                  }
                };

                connection.onclose = (reason, details) => {
                  console.error('Connection lost:', reason, details);
                  this.errorMsg = 'Invalid username or password';
                  this.showError = true;
                };

                connection.open();
            }
            // Cryptosign login
            if (this.loginType === 'cryptosign') {
              const connection = WebHelpers.getCryptosignConnection(this.username, this.passwordKey);
              connection.onopen = (session) => {
                console.log("Connected!");
                this.session = session;
                if (this.session) {
                    this.ifSession = true;
                    this.$router.push({ name: 'home', params: { username: this.username, ifsessionexists: this.ifSession } });
                  }
              };

              connection.onclose = (reason, details) => {
                console.error('Connection lost:', reason, details);
                this.errorMsg = 'Invalid username or password';
                this.showError = true;
              };

              connection.open();
            }
        },
    }
};
</script>

<style media="screen">
 body {
    overflow-x: hidden; 
    overflow-y: hidden;
    height: 100vh;
  }
  a,
  a:hover {
    a,
    a:hover {
        text-decoration: none;
    }
    .hidden {
        display: none;
    }
  }

  .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
  }

  .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
  }

  @keyframes move {
    0% { transform: translate(0, 0); }
    50% { transform: translate(30px, 30px); }
    100% { transform: translate(0, 0); }
}

.shape:first-child {
    background: linear-gradient( #6b6b6b36, #1313134a);
    left: -200px;
    top: -100px;
    animation: move 10s infinite;
}

.shape:last-child{
    background: linear-gradient(to right, #1313134a, #6b6b6b36);
    right: -150px;
    bottom: -120px;
    animation: move 10s infinite;
}

  .login-title {
    font-size: 2.5em;
    text-align: center;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  form {
    width: 80%;
    max-width: 400px;
    background-color: #111111c9;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  form h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }

  form select {
    width: 96%;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff12;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
  }

  form select option {
    background-color: #3e3e3e;
    color: #fafafa;
  }

  label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    display: block;
    width: 90%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  input[type="checkbox"] {
    transform: scale(0.8);
  }
  
  .login-button {
    background-color: #6b6b6b36;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: #830e0e;
  }

  hr.custom {
    border-top: 1px solid #8c8b8b;
  }

  .login-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('@/assets/home-bondy-dark-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation: zoom 15s ease-in-out infinite;
  }

  @keyframes zoom {
      0% {
          transform: scale(1.2);
      }
      50% {
          transform: scale(1);
      }
      100% {
          transform: scale(1.2);
      }
  }

  @media (max-width: 768px) {
    .login-container {
      grid-template-columns: 1fr;
    }
}
</style>