<template>
  <div class="list-realm">
    <h1>Realms</h1>

    <router-link to="/create-realm" class="create-btn">+</router-link>

    <!-- Muestra la lista de realms -->
    <div class="list-item" v-if="realms.length">
      <div class="item" v-for="realm in realms" :key="realm.uri">
        <div class="item-info">
          <h1>{{ realm.uri }}</h1>
          <template v-if="!realm.isEditing">
            <p>Description: {{ realm.description }}</p>
            <button @click="deleteRealm(realm.uri)" class="delete-btn">Delete Realm</button>
            <button @click="toggleEditMode(realm)" class="edit-btn">Edit Realm</button>
          </template>
          <template v-else>
            <input 
              v-model="realm.editedDescription" 
              placeholder="New Description" 
              :style="{ color: realm.isEditing ? 'black' : '#ffffff', fontSize: realm.isEditing ? '20px' : '14px' }"
            />
            <button @click="saveRealmChanges(realm.uri)" class="save-btn">Save Changes</button>
            <button @click="cancelEdit(realm)" class="cancel-btn">Cancel</button>
          </template>
        </div>
      </div>
    </div>

    <!-- Muestra un mensaje si no hay realms -->
    <p v-else>No realms available.</p>
  </div>
</template>

<script>
import { WebHelpers } from "@/helpers/mainExports.js";

export default {
  data() {
    return {
      session: null,
      realms: [],
    };
  },
  created() {
    const connection = WebHelpers.getConnection(); 
    connection.onopen = (session) => {
      console.log("Connected!");
      this.session = session;
      /* this.getRealms(); */
    };

    connection.onclose = (reason, details) => {
      console.error('Connection lost:', reason, details);
    };

    connection.open();
  },

  beforeDestroy() {
    if (this.connection && this.connection.isOpen) {
      this.connection.close("wamp.goodbye.normal", "Bondy Management goodbye");
    }
  },

  methods: {
    /*
    async getRealms() {
      if (this.session) {
        try{
          this.realms = await WebHelpers.getRealms(this.session);  
        } catch (error) {
          console.error("Error ", error);
        }
      } else {
        console.error("Session not available");
      }
    },
    

    deleteRealm(realmUri) {
      const isConfirmed = window.confirm('Are you sure you want to delete this realm?');

      if (isConfirmed) {
        this.session.call('bondy.realm.delete', [realmUri])
          .then(() => {
            console.log('Realm deleted successfully');
            this.fetchRealms();
          })
          .catch(error => {
            console.error('Error deleting realm:', error);
          });
      } else {
        console.log('Deletion cancelled.');
      }
    },
    */

    toggleEditMode(realm) {
      realm.isEditing = !realm.isEditing;
    },

    saveRealmChanges(realmUri) {
      const realm = this.realms.find(r => r.uri === realmUri);

      const editedData = {
        description: realm.editedDescription,
      };

      this.session.call('bondy.realm.update', [realmUri, editedData])
        .then(() => {
          console.log('Realm updated successfully');
          this.fetchRealms();
        })
        .catch(error => {
          console.error('Error updating realm:', error);
        });

      realm.isEditing = false;
    },
    setError(error) {
      this.errorMsg = JSON.stringify(error, undefined, 2);
      this.alertError = true;
    },
    cancelEdit(realm) {
      realm.editedDescription = realm.description;
      realm.isEditing = false;
    },
  },
};
</script>

<style scoped>
.list-realm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 5% 8%;
  overflow-y: auto;
  max-height: 500px;
}

.list-realm * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.list-realm h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.list-realm p {
  text-align: center;
  margin-top: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #080808;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.item-info {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  background-color: #b12121;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.edit-btn,
.cancel-btn {
  background-color: #ff7f00;
  color: #fafafa;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.save-btn {
  background-color: #00856b;
  color: #fafafa;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.create-btn {
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff8104;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.create-btn:hover {
  background-color: #ffa449;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .list-realm {
    width: 90%;
    max-width: none;
  }
}
</style>
