<template>
  <div>
    <header class="header">
      <img class="logo" src="@/assets/logo.png" alt="Bondy Logo" :style="{ 'margin-left': isSidebarOpen ? '13%' : '4%' }">
      <div class="dropdown" style="float: right; margin-right: 2%;">
      <button class="dropbtn" @click="toggleUserMenu"><i class="fa-light fa-user"></i> Bondy</button>
      <div class="dropdown-content" v-show="isUserMenuOpen">
        <a href="#">Change Password</a>
        <a href="#">Account Settings</a>
        <a href="/">Logout</a>
      </div>
      &nbsp;
      <button class="dropbtn" @click="toggleSettingsMenu"><i class="fa-light fa-gear"></i></button>
      <div class="dropdown-content-settings" v-show="isSettingsMenuOpen">
        <a href="#">App Settings</a>
        <a href="#">About Bondy App</a>
      </div>
</div>

    </header>
    <button class="toggle-button" @click="toggleSidebar">
      <i :class="isSidebarOpen ? 'fas fa-bars' : 'fas fa-chevron-right'" style="color: #fafafa"></i>
    </button>
    <div class="sidebar" :class="{ 'sidebar-open': isSidebarOpen, 'sidebar-small': !isSidebarOpen }">
      <div class="sidebar-content">
        <div class="nav-group">
          <!-- HOME -->
          <router-link to="/home/{{ username }}" class="nav-link">
            <span class="nav-group-header">
              <i class="fa-light fa-house" :style="{ 'margin-top': isSidebarOpen ? '0' : '20px' }"></i>
              <span class="nav-text">&nbsp;&nbsp;Home</span>
            </span>
          </router-link>
          <!-- REALMS -->
          <router-link to="/realms" class="nav-link">
            <span class="nav-group-header">
              <i class="fa-light fa-diagram-venn" :style="{ 'margin-top': isSidebarOpen ? '0' : '20px' }"></i>
              <span class="nav-text">&nbsp;&nbsp;Realms</span>
            </span>
          </router-link>
          <!-- USERS -->
          <router-link to="/users" class="nav-link">
            <span class="nav-group-header">
              <i class="fa-light fa-users" :style="{ 'margin-top': isSidebarOpen ? '0' : '20px' }"></i>
              <span class="nav-text">&nbsp;&nbsp;Users</span>
            </span>
          </router-link>
          <!--
          <div class="submenu">
            <router-link to="/">
              <span class="nav-text">Create Realm</span>
            </router-link>
            <router-link to="/realms">
              <span class="nav-text">View Realms</span>
            </router-link>
          </div> -->
        </div> 
        <!-- GROUPS 
        <div class="nav-group">
          <span class="nav-group-header" @click="toggleGroupsMenu">
            <i class="fa-duotone fa-user-group"></i>
            <span class="nav-text">&nbsp;Groups</span>
          </span>
          <div class="submenu" v-show="showGroupsMenu">
            <router-link to="/create-group" @click.native="closeMenus">
              <span class="nav-text">Create Group</span>
            </router-link>
            <router-link to="/groups" @click.native="closeMenus">
              <span class="nav-text">View Groups</span>
            </router-link>
          </div>
        </div>
        -->
        <!-- USERS 
        <div class="nav-group">
          <span class="nav-group-header" @click="toggleUsersMenu">
            <i class="fa-duotone fa-user-group"></i>
            <span class="nav-text">&nbsp;Users</span>
          </span>
          <div class="submenu" v-show="showUsersMenu">
            <router-link to="/create-user" @click.native="closeMenus">
              <span class="nav-text">Create user</span>
            </router-link>
            <router-link to="/users" @click.native="closeMenus">
              <span class="nav-text">Users</span>
            </router-link>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isSidebarOpen: true,
      isUserMenuOpen: false,
      isSettingsMenuOpen: false,
    };
  },
  methods: {
    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    },
    toggleUserMenu() {
    this.isUserMenuOpen = !this.isUserMenuOpen;
  },
  toggleSettingsMenu () {
    this.isSettingsMenuOpen = !this.isSettingsMenuOpen;
  }
}
};
</script>

<style scoped>
.header {
  background-color: #111111c9;
  padding: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo {
  filter: invert(100%);
  width: 100px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.sidebar {
  background: #111111;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  color: #fff;
}

.sidebar-open {
  width: 250px;
}

.sidebar-open.sidebar-small .logo {
  margin-left: 2%;
}

.sidebar-small {
  width: 50px;
  padding-left: 20px;
}

.sidebar-small .nav-text {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

.toggle-button i {
  font-size: 24px;
  margin-left: 10px;
}

.sidebar-content {
  padding-top: 80px;
}

.nav-group {
  margin-top: 10px;
}

.nav-group-header {
  display: flex;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.submenu {
  background: #292929;
  padding: 10%;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  transition: all 0.1s linear;
  margin-bottom: 5px;
  margin-top: 8%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: inherit;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
}

.dropdown-content {
  position: absolute;
  margin-left: -80%;
  margin-top: 1%;
  background-color: #f7f7f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  color: #050505;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #fafafa;
  background-color: #0f0f0f
}

.dropdown-content-settings {
  position: absolute;
  margin-left: -40%;
  margin-top: 1%;
  background-color: #f7f7f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content-settings a {
  padding: 10px;
  color: #050505;
  text-decoration: none;
  display: block;
}

.dropdown-content-settings a:hover {
  color: #fafafa;
  background-color: #0f0f0f
}




.dropbtn {
  border-radius: 3px;
  border: 1px solid #fafafa;
  background-color: #11111100;
  color: #fafafa;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #fafafa;
  color: #0f0f0f;
}
</style>
