<template>
    <div class="list-group">
      <h1>Users</h1>
  
      <!-- Select realm -->
      <form>
        <div class="realm-select">
          <label for="realm">Select Realm:</label>
          <select v-model="selectedRealm" @change="fetchUsers">
            <option v-for="realm in realms" :key="realm.uri" :value="realm.uri">{{ realm.uri }}</option>
          </select>
        </div>
      </form>
  
      <!-- Show list -->
      <div class="list-item" v-if="users.length">
        <div class="item" v-for="user in users" :key="user.username">
          <div class="item-info">
            <h1>{{ user.username }}</h1>
            <template v-if="!user.isEditing">
              <p>Realm: {{ selectedRealm }}</p>
              <button @click="deleteUser(selectedRealm, user.username)" class="delete-btn">Delete User</button>
              <button @click="toggleEditMode(user)" class="edit-btn">Edit User</button>
            </template>
            <template v-else>
              <input
                v-model="user.editedUsername"
                placeholder="New User Name"
                :style="{ color: user.isEditing ? 'black' : '#ffffff', fontSize: user.isEditing ? '20px' : '14px' }"
              />
  
              <button @click="saveUserChanges(selectedRealm, user.username)" class="save-btn">Save Changes</button>
              <button @click="cancelEdit(user)" class="cancel-btn">Cancel</button>
            </template>
          </div>
        </div>
      </div>
  
      <!-- Message if there aren't users -->
      <p v-else>No users available.</p>
    </div>
  </template>
  
  <script>
  /*
  export default {
    data() {
      return {
        realms: [],
        selectedRealm: null,
        users: [],
      };
    },
    mounted() {
      this.fetchRealms();
    },
    methods: {
      fetchRealms() {
        axios.get('http://192.168.100.10:3000/list-realms')
          .then(response => {
            this.realms = response.data.realms.map(realm => ({
              ...realm,
              isEditing: false,
              editedDescription: realm.description,
            }));
          })
          .catch(error => {
            console.error('Error fetching realms:', error);
          });
      },
      fetchUsers() {
        if (this.selectedRealm) {
          axios.get(`http://192.168.100.10:3000/list-users/${this.selectedRealm}`)
            .then(response => {
              this.users = response.data.users.map(user => ({
                ...user,
                isEditing: false,
                editedUsername: user.username,
              }));
            })
            .catch(error => {
              console.error('Error fetching users:', error);
            });
        }
      },
      deleteUser(realmUri, username) {
        const isConfirmed = window.confirm('Are you sure you want to delete this user?');
  
        if (isConfirmed) {
          axios.delete(`http://192.168.100.10:3000/delete-user/${realmUri}/${username}`)
            .then(response => {
              console.log('User deleted successfully:', response.data);
              this.fetchUsers();
            })
            .catch(error => {
              console.error('Error deleting user:', error);
            });
        } else {
          console.log('Deletion cancelled.');
        }
      },
      toggleEditMode(user) {
        user.isEditing = !user.isEditing;
      },
      saveUserChanges(realmUri, username) {
        const user = this.users.find(u => u.username === username);
        const editedData = {
          username: user.editedUsername,
        };
  
        axios.put(`http://192.168.100.10:3000/update-user/${realmUri}/${username}`, editedData)
          .then(response => {
            console.log('User updated successfully:', response.data);
            this.fetchUsers();
          })
          .catch(error => {
            console.error('Error updating user:', error);
          });
  
        user.isEditing = false;
      },
      cancelEdit(user) {
        user.editedUsername = user.username;
        user.isEditing = false;
      },
    },
  };
  */
  </script>

<style scoped>
.realm-select {
margin-bottom: 20px;
}

form h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

form select {
  width: 96%;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.07);
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #fafafa;
}

form select option {
  background-color: #080710;
  color: #fafafa;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  width: 90%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.list-group {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 5% 8%;
  overflow-y: auto;
  max-height: 500px;
}

.list-group * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.list-group h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.list-group p {
  text-align: center;
  margin-top: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #080710;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.item-info {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  background-color: #b12121;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.edit-btn,
.cancel-btn {
  background-color: #ff7f00;
  color: #fafafa;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.save-btn {
  background-color: #00856b;
  color: #fafafa;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .list-group {
    width: 90%;
    max-width: none;
  }
}
</style>  